h1 {
    text-align: center;
}

body {
    background-color: #f1f1f1;
}

#app {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    max-width: 1100px;
    background-color: white; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
    min-width: 28em;

    #operation-space {
        display: flex;
        padding: 0.5em;

        .matrix {
            position: relative;
            padding: 0.5em;
            width: 46%;
            max-width: 20em;
            height: auto;
            margin: 2%;
            float: left;
            box-sizing: border-box;

            .left-bracket, .right-bracket {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 3%;
                border-top: 3px solid black;
                border-bottom: 3px solid black;
            }

            .left-bracket {
                left: 0;
                border-left: 3px solid black; 
            }

            .right-bracket {
                right: 0;
                border-right: 3px solid black; 
            }

            .matrix-content {
                position: absolute;
                top: 2%;
                left: 2%;
                bottom: 2%;
                right: 2%;

                .cell {
                    width: 29.33%;
                    height: 29.33%;
                    padding: 2%;
                    margin: 2%;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    box-sizing: border-box;
                    text-align: center;
                }
            }
        }

        .matrix:before {
            content: '';
            display: block;
            margin-top: 100%;
        }

        #expression {
            display: flex;
            margin: auto;
            flex-grow: 2;
        }

        #equals {
            margin: auto;
            flex-grow: 0.1;
            text-align: center;
            font-size: 2em;
        }

        #result {
            display: flex;
            margin: auto;
            flex-grow: 1;

            .matrix {
                display: block;
                position: relative;
                padding: 0.5em;
                width: 96%;
                max-width: 20em;
                height: auto;
                margin: 4%;
                float: left;
                box-sizing: border-box;
            }
        }
    }

    .calculate {
        background-color: #4CAF50;
        border: none;
        color: white;
        margin: 0.5em;
        margin-top: 0;
        padding: 0.5em 0.8em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 2px;
    }
}
